.DS_Store
.dart_tool/

.packages
.pub/
.idea/
build/

.flutter-plugins
restaurant-management.iml
pubspec.lock
.gradle/4.9/fileChanges/last-build.bin
.gradle/4.9/fileHashes/fileHashes.bin
.gradle/4.9/fileHashes/fileHashes.lock
.gradle/vcsWorkingDirs/gc.properties
