.DS_Store
.dart_tool/

.packages
.pub/
.idea/
build/

.flutter-plugins
restaurant-management.iml
pubspec.lock
.gradle/*/fileChanges/last-build.bin
.gradle/*/fileHashes/fileHashes.bin
.gradle/*/fileHashes/fileHashes.lock
.gradle/vcsWorkingDirs/gc.properties
